<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherWise</title>
</head>
<body>
    <h1>WeatherWise</h1>

    <form method="get">
      {% csrf_token %}
      <label for="search">Search City:</label>
      <input type="text" id="search" name="search" placeholder="Enter city name">
      <input type="submit" value="Search">
    </form>
    {% for item in forecast_data_list %}
    <div class="weather-info">
      <h1>Weather in {{ item.city }}</h1>
      <p>Date: {{item.forecast_date}}</p>
      <p>Day: {{item.forecast_day}}</p>
      <p>Temperature: {{ item.forecast_temperature }} °C</p>
      <p>Probability of Rain: {{item.forecast_pop}}%</p>
      <!-- <p>Description: {{ description }}</p> -->
      <!-- <p>Rainfall: {{ rain }}%</p> -->
      <p>Wind Speed: {{item.forecast_wind_speed}} m/s</p>
      <p>Wind Direction: {{ item.converted_wind_direction }}</p>
      <p>Humidity: {{item.forecast_humidity}}%</p>
      <!-- <img src="https://openweathermap.org/img/w/{{ icon }}.png" alt="{{ description }}"> -->
    </div>
    {% endfor %}
</body>
</html>