{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    
    <title>WeatherWise</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!--[if lt IE 9]>
    <script src="js/ie-support/html5.js"></script>
    <script src="js/ie-support/respond.js"></script>
    <![endif]-->

</head>

<div class="site-header">
    <div class="container">
        <a href="{% url 'home' %}" class="branding">
            <img src="{% static 'images/logo.png' %}" alt="" class="logo">
            <div class="logo-type">
                <h1 class="site-title">WeatherWise</h1>
                <small class="site-description">Your Number 1 stop for Weather Forecast</small>
            </div>
        </a>

        <!-- Default snippet for navigation -->
        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item"><a href="{% url 'home' %}">Check for todays Weather</a></li>
            </ul> <!-- .menu -->
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>

    </div>
</div> <!-- .site-header -->

<div class="hero" data-bg-image="{% static 'images/banner.png'%}">
    <div class="container">
        <form method="get" class="find-location">
            {% csrf_token %}
            <input type="text" id="search" name="search" placeholder="Find your location...">
            <input type="submit" value="Find">
        </form>

    </div>
</div>


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
